# --- MLflow ---
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME="nappe-cast"
MLFLOW_BACKEND_STORE_URI=
MLFLOW_ARTIFACT_ROOT=s3://nappecast/mlflow-artifacts

# --- AWS ---
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
PIPELINE_SECRET=

# --- AIRFLOW ---
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=
S3_BUCKET=nappecast
DAGS_S3_PREFIX=airflow/dags
DATA_S3_PREFIX=airflow/data
LOGS_S3_PREFIX=airflow/logs
AWS_REGION=eu-west-3
SYNC_INTERVAL_SECONDS=60